*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* layout */
.container-full{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 780px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-20{
    width: 20%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

.col-65{
    width: 65%;
}

.col-35{
    width: 35%;
}

.col-30{
    width: 30%;
}

.col-17{
    width: 17.5%;
}

/* style */
header{
    background-color: #255EE9;
    padding: 0.5%;
}

ul{
    list-style-type: none;
}

ul.text-center li{
    display: inline-block;
    margin: 0px 20px;
}

ul li a{
    text-decoration: none;
    color: white;
}

h2{
    font-size: 50px;
    padding: 30px 0;
}

p{
    font-size: 20px;
    line-height: 1.7;
}

h3{
    font-size: 26px;
}

footer{
    background-color: rgb(40, 40, 40);
}

.bg-jumbo{
    padding: 50px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn{
    padding: 10px 15px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}

.btn-white{
    background-color: white;
}

.btn-black{
    background-color: black;
}

.btn-lavanda{
    background-color: rgb(104, 144, 255);
}

.mtop-5{
    margin-top: 5px;
}

.mtop-30{
    margin-top: 40px;
}

.py-10{
    padding: 10px 0;
}

.py-100{
    padding: 100px 0;
}

.py-90{
    padding: 0 90px;
}

.py-60{
    padding: 60px 0;
}

.v-alygn-mid{
    vertical-align: middle;
}

.space-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-white{
    color: white;
}

.text-lavanda{
    color: rgb(104, 144, 255);
}

.width-30{
    width: 30px;
}

.bg-lightgrey{
    background-color: rgb(242, 242, 242);
}

.top-footer{
    padding: 5% 0 2% 0; 
    border-bottom: 2px solid rgb(104, 144, 255);
}

.bottom-footer{
    padding-bottom: 3%;
}

.ul-footer li{
    padding: 10px;
}

.bot-footer{
    padding: 30px;
}

i {
    padding: 15px 10px 0 0;
    font-size: 21px;
    color: white;
}